.home-Container{
    height: 90vh;
    width: 98.9vw;
    display: flex;
    justify-content: center;
    background-color:RGB(15, 16, 21);
    padding-top: 80px;
}

.home{
    display: flex;
    width: 88vw;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: end;

}

.name{
    line-height:.75;
    flex: 1.2;
    color: white;
}
.name>div>p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: large;
}
.name>div>h1{
    font-family:cursive;
    font-size: xx-large;
    color: rgb(161, 15, 15);

}
.name>div>h1>span{
    color: white;
}
.name>h1{
    font-family:cursive;
     line-height: 3;
     font-size: 2vw;
}

.profile{
    flex: 2;
}
.photo{
    height: 95vh;
}

@media screen and (max-width:1120px){
    .home-Container{
        width: 100vw;
    }
    .photo{
        margin-top: 20%;
        height: 75vh;
    }
    
}
@media screen and (max-width:930px) {

    .photo{
        height: 60vh;
        margin-top: 40%;
    }
}