.footer-Container{
    /* position: fixed; */
    bottom: 0;
    width: 98.9vw;
    height: 20vh;
    background-color: rgba(0, 11, 25, 0.862);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
.footer-title{
    color: white;
}